.landing__lead {
  background-color: #073042;
  background-image: url(../../images/LeadLogo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 248px;
  margin: -74px -10px 0 -10px;
  padding: 0 10px;
  height: 642px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

.landing__caption {
  font-size: 31px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
  }

.landing__navmenu {
  padding: 25px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none outside;
  background-color: #272727;
  }

.landing__navitem {
  list-style: none outside;
  padding: 0 12px;
  }

.landing__navitem:first-of-type {
  padding-left: 0;
  }

.landing__navitem:last-of-type {
  padding-right: 0;
  }

.landing__navlink {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.45;
  text-decoration: underline;
  color: #ffffff;
  }

.landing__navlink:visited {
  color: #ffffff;
  }

@media screen and (min-width: 768px) {

  .landing__lead {
    background-size: 320px;
    height: 858px;
    margin: -74px -30px 0 -30px;
    padding: 0 30px;
    }

  .landing__caption {
    font-size: 50px;
    line-height: 1.19;
    max-width: 730px;
    }

  .landing__navitem {
    padding: 0 20px;
    }

  .landing__navlink {
    font-size: 13px;
    line-height: 1.23;
    }

  }


@media screen and (min-width: 1280px){

  .landing__lead {
    height: 580px;
    margin: -74px -70px 0 -70px;
    padding: 0 70px;
    }

  }
