.hamburger {
  margin: 0 0 0 auto;
  padding: 132px 0 46px 0;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: #202020;
  box-sizing: border-box;
  }

.hamburger_visible {
  display: block;
  }



.hamburger__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none outside;
  }

.hamburger__item {
  padding: 12px 0;
  }

.hamburger__item:last-of-type {
  margin-top: 432px;
  }

.hamburger__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  text-decoration: none;
  color: #ffffff;
  }

.hamburger__link:visited {
  color: #ffffff;
  }

.hamburger__link_active {
  text-decoration: underline;
  }

.hamburger__link_active:visited {
  color: #ffffff;
  }

.hamburger__link-account {
  font-weight: 500;
  font-size: 13px;
  line-height: 0.92;
  text-decoration: none;
  vertical-align: center;
  color: #ffffff;
  }
.hamburger__link-account_active {
  text-decoration: underline;
  }

.hamburger__link-account:visited {
  color: #ffffff;
  }
.hamburger__link-account_active:visited {
  color: #ffffff;
  }

.hamburger__link-account-icon {
  display: block;
  background-image: url('../../images/AccountLogo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #313131;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  }

.hamburger__account {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  }

.hamburger__close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transform: rotate(45deg);
  font-weight: 500;
  font-size: 36px;
  padding: 0;
  margin: 0;
  }


@media screen and (min-width: 768px) {
  .hamburger {
    width: 510px;
    padding: 140px 0 90px 0;
    }
  .hamburger__item {
    padding: 14px 0;
    }
  .hamburger__item:last-of-type {
    margin-top: 605px;
    }
  }

@media screen and (min-width: 1280px) {
  .hamburger_visible {
    display: none;
    }
  }
