.popup {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 11;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, ease-in-out, 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  }

.popup_content_tooltip {
  z-index: 115;
  background-color: rgba(0,0,0,0.5);
  }

.popup_opened {
  visibility: visible;
  opacity: 1;
  }


@media screen and (max-width: 582px) {
  .popup {
    padding: 0 30px;
    }
  }
