.movies-list {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  }

.movies-list_favourites {
  padding-bottom: 30px;
  }

.movies-list__more {
  background-color: #2F2F2F;
  border-radius: 6px;
  width: 240px;
  height: 36px;
  border: none;
  outline: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  margin: 0 auto;

  color: #FFFFFF;
  }