.landing__lead {
  background-color: #073042;
  background-image: url(../../../images/LeadLogo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 248px;
  margin: -74px -10px 0 -10px;
  padding: 0 10px;
  height: 642px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

.landing__caption {
  font-size: 31px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: -0.04em;
  text-align: center;
  }

@media screen and (min-width: 768px){

  .landing__lead {
    background-size: 320px;
    height: 858px;
    margin: -74px -30px 0 -30px;
    padding: 0 30px;
    }

  .landing__caption {
    font-size: 50px;
    line-height: 1.19;
    max-width: 730px;
    }

  }

@media screen and (min-width: 1280px){

  .landing__lead {
    height: 580px;
    margin: -74px -70px 0 -70px;
    padding: 0 70px;
    }

  }